.footer{
  margin-top: 166px;
  display: flex;
  align-items: center;

  &-left{
    display: flex;
    flex-direction: column;

    &__title{
      color: #000;
      font-weight: 500;
      font-size: 30px;
    }

    &__text{
      color: #000;
      font-size: 25px;
      margin-top: 26px;
      font-weight: 400;
      max-width: 380px;
    }

    &__subtitle{
      color: #000;
      font-weight: 500;
      font-size: 30px;
      margin-top: 50px;
    }

    &__number{
      color: #000;
      font-size: 25px;
      font-weight: 400;
      margin-top: 23px;
      text-decoration: none;
    }
    &__email{
      color: #000;
      font-size: 25px;
      font-weight: 400;
      text-decoration: none;
    }

    &__socials{
      margin-top: 26px;
      display: flex;
      gap: 19px;
      align-items: center;
    }
  }

  &__image{
    position: absolute;
    right: 0;
  }
}