.header {
  margin-top: 65px;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  //position: absolute;
  //max-width: 1450px;
  //width: 100%;

  &-left {
    display: flex;
    align-items: center;
    gap: 117px;

  }

  & a, div > a {
    color: var(--other-text);
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
  }
}